name: 2D Live Bot Update

on:
  schedule:
    - cron: '*/5 * * * *' # ၅ မိနစ်တစ်ခါ Run မည်
  workflow_dispatch: # ကိုယ်တိုင်နှိပ်ပြီး Run လို့ရအောင်

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests firebase-admin

      - name: Run bot
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: python update_data.py
